resume/clf.pkl
summarizer/saved_summary_model/model.safetensors
resume1/jobs_dataset_with_features.csv
resume1/Resume.csv
# Node.js / React
node_modules/
build/
dist/
*.env
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
*.tgz
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.env
.venv/

# OS-specific
Thumbs.db
Desktop.ini

# Logs
*.log

# Test directories
coverage/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
summarizer/saved_summary_model/model.safetensors
resume1/jobs_dataset_with_features.csv
resume/clf.pkl
resume1/Resume.csv
